* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
}

#app {
  width: 100%; /*vw*/
  height: 100vh;
  background-image: linear-gradient(
    135deg,
    rgb(128, 128, 128),
    rgb(102, 102, 102)
  );
  display: flex;
  justify-content: center;
  align-items: center;
}

#scrollmark {
  position: absolute;
  bottom: 0;
  display: flex;
  height: 3rem;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.scrollmark-icon {
  color: rgba(255, 255, 255, 0.8);
  font-size: 3rem;
  animation: bounce 0.8s infinite alternate;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

#about {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0 10%;
  background-image: linear-gradient(135deg, rgb(60, 60, 60), rgb(20, 20, 20));
}

@media screen and (min-width: 1024px) {
  #about {
    padding: 0 25%;
  }
}

#avatar {
  width: 20%;
  min-width: 8rem;
  height: 20%;
  border: solid 2px white;
  border-radius: 50%;
}

#about h1 {
  margin: 3rem 0;
  color: white;
  font-family: "Source Code", monospace;
  font-size: 2rem;
}

#about h2 {
  margin: 1rem 0;
  color: white;
  font-family: "Source Code", monospace;
  font-size: 1.2rem;
}

#about p {
  text-align: justify;
  color: white;
  hyphens: auto;
}

.link {
  text-decoration: none;
  color: rgb(40, 235, 215);
}

.link:hover {
  color: rgb(137, 255, 243);
}

#tag-cloud {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 3rem;
}

.item {
  flex: 1 auto;
  margin: 1rem 1rem;
  padding: 5px 1rem;
  height: 20px;
  border-radius: 6px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
  text-align: center;
  font-family: "Source Code", monospace;
  color: white;
}

.production-skill {
  background-color: rgb(40, 235, 215);
}

.utility-skill {
  background-color: rgb(68, 114, 196);
}

.language-skill {
  background-color: rgb(143, 170, 220);
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 3rem auto;
  padding: 0 1rem;
  width: 10rem;
  height: 50px;
  background-image: linear-gradient(
    135deg,
    rgb(91, 228, 233),
    rgb(40, 235, 215)
  );
  border: none;
  border-radius: 25px;
  color: white;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  font-size: 0.8rem;
  font-family: inherit;
  font-weight: bold;
  text-decoration: none;
}

.btn:hover {
  background-image: linear-gradient(
    135deg,
    rgb(85, 215, 219),
    rgb(27, 202, 185)
  );
}
