* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

#app {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(
    135deg,
    rgb(128, 128, 128),
    rgb(102, 102, 102)
  );
  display: flex;
  justify-content: center;
  align-items: center;
}

#about {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(
    135deg,
    rgb(33, 243, 215),
    rgb(40, 192, 219)
  );
  display: flex;
  justify-content: center;
  align-items: center;
}
